@import url(https://fonts.googleapis.com/css?family=Exo+2:100)
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400)

*
  box-sizing: border-box

a
  text-decoration: none
  color: blue

body
  margin: 0
  padding: 0
  font-family: Maven Pro

button
  background-color: #D6A967
  border: none
  color: #ffffff
  cursor: pointer
  font-family: maven pro
  font-size: 18.77px
  margin: 25px 0 0 0
  padding: 10px
  transition: background-color .2s
  width: 100%

  &:hover
    background-color: #ebc17d

  &:disabled
    background-color: #4d4e53  

h1, h2, h3, h4, h5, h6
  font-weight: normal
  margin: 0 0 50px 0

h1
  font-size: 72px

h2
  font-family: 'Exo 2'
  text-transform: uppercase

input
  display: block
  font-family: maven Pro
  margin: 0
  width: 100%

p
  margin: 0 0 20px 0

section
  margin: 0 auto
  max-width: 1000px
  overflow: auto
  padding: 50px 0

textarea
  display: block
  font-family: maven Pro
  width: 100%
