//@import url('https://fonts.googleapis.com/css?family=Maven+Pro:500');

*
  box-sizing: border-box

body
  margin: 0
  padding: 0
  font-family: tahoma

a
  text-decoration: none
  color: blue

h1, h2, h3, h4, h5, h6
  font-weight: normal
  margin: 0 0 20px 0

p
  margin: 0 0 20px 0

section
  margin: 0 auto
  max-width: 1000px
  overflow: auto
  padding: 50px 0
