.Work {
  background-color: #ffe1e3;
  color: #000;
  text-align: center;
}

.Work h1 {
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
}

.WorkImage {
  background-color: #eee;
  background-position: center center;
  background-size: cover;
  height: 200px;
}

.WorkTile {
  background-color: #fefcfd;
}

.WorkTile h3 {
  padding: 20px 20px 0 20px;
}

.WorkTile p {
  padding: 0 20px 20px 20px;
}

.WorkTiles {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.WorkTiles li {
  margin: 0;
  padding: 0 10px;
  width: 33.3%
}
